.hide {
	display:none;
}

.main-content {
	float:left;
	width:70%;
}

.main-content .new-feature {
	border:solid 1px #c0c0c0;
	background:#e7e7e7;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
}

.main-content .new-feature th,
.main-content .new-feature td {
	padding-left:10px;
}

.main-content .new-feature .new {
	font-weight:strong;
	color:#e00;
}

.main-content input[type="text"] {
	width:200px;
}

#sticky-faq p {
	font-size:14px;
	margin-bottom:20px;
}

#sticky-faq strong {
	color:#222;
	font-size:16px;
	padding-top:20px;
	margin-bottom:3px;
	border-top:solid 1px #ccc;
	display:block;
}

#sticky-faq p:nth-of-type(1) strong {
	border-top:none;
}

.main-sidebar {
	float:right;
	width:25%;
	background:#ffffff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);	
}

.main-sidebar h3 {
	margin: 0;
	padding: 8px 12px;
	border-bottom: 1px solid #ececec;
}

.main-sidebar .inner {
	padding:10px;
}

.main-sidebar p {
	padding:8px;
	margin:0;
	border-top:solid 1px #e5e5e5;
}


@media screen and (max-width: 782px) {
	.main-content,
	.main-sidebar {
		width:100%;
		float:none;
		clear:both;
	}

	.main-content .new-feature {
		border:none;
		background:transparent;
	}

	.main-content .new-feature th,
	.main-content .new-feature td {
		padding-left:0;
	}

	.main-content td {
		padding-bottom:20px;
		border-bottom:dashed 1px #c0c0c0;
	}
}